<div class="content-form">
        <h3>Bir Yorum Yap!</h3>
        <form method="post">
            <input type="text" placeholder="ID" name="BlogId" value="@ViewBag.Value" required />
            <input type="text" placeholder="Ad" name="UserName" required />
            <input type="text" placeholder="Mail" name="Mail" />
            <textarea placeholder="Yorum" name="CommentEnd"></textarea>
            <input type="submit" value="Yorum Gönder" />
        </form>
    </div>