@using TravelWebAppInMVC.Models.Classes
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td><a href="/Admin/BlogDelete/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/BlogGet/@item.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Admin/NewBlog/" class="btn btn-primary">Yeni Blog Ekle</a>
